*{
  background: rgba(195, 207, 161, 1);
  box-sizing: border-box;
  font-family: 'Pokemon_GB';
}

/*inported pokemon font*/
@font-face{
  font-family: 'Pokemon_GB';
  src: url(../assets/jackster-productions_pokemon-gb/Pokemon_GB.ttf);
}

/*stops page scrolling*/
body, html {
    overflow: hidden;
}

p{
  text-align: left;
  width:20%;
}

/*============= mute buttons ===================*/
.play{
  display: none;
}

.mute{
  position: absolute;
  background: none;
  top:82%;
  left:75%;
  height:4%;
  width:4%;
  cursor: pointer;
}

.mute2{
  top:89%;
  left:75%;
}


#info{
  position: absolute;
  background: none;
  top:89%;
  left:83%;
  height:4%;
  width:4%;
  cursor: pointer;
}

#background{
height:80%;
position:absolute;
width:70%;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}

/*======== Arrow pointers =============*/
.pointer{
  position: absolute;
  background: none;
  height:2%;
  width:2%;
  z-index: 10;
  display: none;
  z-index: 7;
}

#startscreenPointer{
  top:44.5%;
  left:39%;
}

#itemPointer{
  top:80.5%;
  left:48%;
  height:20px;
  width:15px;
}

#pkmnPointer{
  top:72.5%;
  left:67%;
  height:20px;
  width:15px;
}

/*========== Landing screen ==================*/
#start{
  position:absolute;
  text-align: center;
  top:45%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:5;
  height:5%;
  width:30%;
  cursor: pointer;
}

#start:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 14px;
  background-image: url(../arrow.png);
  background-size: cover;
  z-index: 10;
  left: 60px;
  top: -2px;
  display: none;
}

#start:hover:before {
  display: block;
}

.border{
  z-index: -1;
  left:10%;
  position: absolute;
  height: 98%;
  width:80%;
}

#borderTwo{
  z-index: -1;
  left:10%;
  position: absolute;
  height: 100%;
  width:80%;
  background:none;
}


/*=========== Character select screen ============*/
#lab{
  position: absolute;
  top:100%;
  height:100%;
  width:100%;
  z-index: -2;
}

#oaks_lab{
  position: absolute;
  top:0;
  left:-1%;
  height:100%;
  width:101%;
  z-index: -2;
}
.ball{
  position:absolute;
  height:15%;
  width:7.5%;
  background: none;
  top:59%;
  border-radius: 100px;
  cursor: pointer;
}

#bulbaBall{
  left:55.8%;
}

#charBall{
  left:67.8%;
}

#squirtBall{
  left:79.8%;
}

#pikaBall{
  left:43.8%;
  height:19%;
  top:37%;
}

#pick{
  position:absolute;
  top:48.8%;
  left:57.5%;
  background: none;
  width:40%;
  font-size: 130%;
  z-index:-1;
}

.pokemon{
  background: none;
  position: absolute;
  height:20%;
  width:10%;
  top:30%;
  display:none;
  z-index: 2;
}

#bulbasaur{
  left:52.8%;
  height:30%;
  width:15%;
  top:25%;
}

#charmander{
  left:67.8%;
}

#squirtle{
  left:79.8%;
}

.pokeborder{
  height:30%;
  width:17%;
  top:25%;
  display: none;
  z-index: 1;
}

#borderBulba{
  left:52%;
}

.stats{
  position:absolute;
  left:52%;
  top:76%;
  height:16%;
  width:17%;
  padding:2%;
  display: none;
  line-height: 150%;
  border-radius: 15px;
}

#charStats{
left:64%;
}

#squirtStats{
left:76%;
}

#borderChar{
  left:64%;
}

#borderSquirt{
  left:76%;
}

/*==================== Battle screen ===================*/

#battle{
  position: absolute;
  top:200%;
  height:100%;
  width:100%;
  z-index: -2;
}

#battleBackground{
  position:absolute;
  top:52%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  height: 73%;
  width:70%;
}

#fight{
  width:18%;
  height: 5%;
  position:absolute;
  right:33%;
  top:72%;
  z-index: 5;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  padding-top:5px;
  padding-left: 15px;
  font-size: 200%;
  overflow: visible;
}

#fight:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 20px;
  background-image: url(../arrow.png);
  background-size: cover;
  z-index: 10;
  left: -10px;
  top: 5px;
  display: none;
}

#fight:hover:before {
  display: block;
}

#item{
  overflow: visible;
  background: none;
  width:18%;
  height: 5%;
  position:absolute;
  right:33.5%;
  top:75%;
  z-index: 5;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  font-size: 200%;
  padding-top:5px;
  padding-left: 15px;
}

#pkmn{
  overflow: visible;
  background: none;
  width:10%;
  height: 5%;
  position:absolute;
  right:21.5%;
  top:72%;
  z-index: 5;
  cursor: pointer;
}

#run{
  overflow: visible;
  background: none;
  width:18%;
  height: 5%;
  position:absolute;
  right:14.5%;
  top:75%;
  z-index: 5;
  cursor: pointer;
  text-align: left;
  font-size: 200%;
  padding-top:5px;
  padding-left: 15px;
}

#run:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 20px;
  background-image: url(../arrow.png);
  background-size: cover;
  z-index: 10;
  left: -10px;
  top: 5px;
  display: none;
}

#run:hover:before {
  display: block;
}

#attackBox{
  width:62%;
  height:20%;
  border:5px solid black;
  z-index:7;
  position: absolute;
  top:66.5%;
  display: none;
  left:20%;
}

#itemBox{
  width:62%;
  height:20%;
  border:5px solid black;
  z-index:7;
  position: absolute;
  top:66.5%;
  display: none;
  left:20%;
}

#potion{
  cursor: pointer;
}

#potion:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 15px;
  background-image: url(../arrow.png);
  background-size: cover;
  z-index: 10;
  left: 30px;
  top: 20px;
  display: none;
}

#potion:hover:before {
  display: block;
}

#quant{
  z-index: 100;
  width:10%;
}

#itemBox p{
  width:40%;
  font-size: 140%;
  padding-left: 8%;
}

.back{
  width:40%;
  position: absolute;
  font-size: 80%;
  background: none;
  top:50%;
  left:74%;
  cursor: pointer;
}

#back1{
  font-size: 128%;
  top:60%;
  left:84%;
}

#textBox{
  width:62%;
  height:20%;
  border:5px solid black;
  z-index:12;
  position: absolute;
  top:66.5%;
  display: none;
  left:20%;
}

#oakBox{
  width:62%;
  height:20%;
  border:5px solid black;
  z-index:12;
  position: absolute;
  top:66.5%;
  display: none;
  left:45%;
  transform: translate(-50%);
}

.text{
  padding: 10px;
  font-size: 150%;
  line-height:150%;
}

/*======= Attacks =======*/

#scratch{
cursor: pointer;
position: absolute;
right:10%;
top:5%;
}

#scratch:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 15px;
  background-image: url(../arrow.png);
  background-size: cover;
  z-index: 10;
  left: -30px;
  top: -5px;
  display: none;
}

#scratch:hover:before {
  display: block;
}

#growl{
cursor: pointer;
position: absolute;
right:10%;
top:25%;
}

#growl:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 15px;
  background-image: url(../arrow.png);
  background-size: cover;
  z-index: 10;
  left: -30px;
  top: -5px;
  display: none;
}

#growl:hover:before {
  display: block;
}

#dash1{
  position: absolute;
  right:10%;
  top:37%;
}

#dash2{
  position: absolute;
  right:10%;
  top:57%;
}

#opponent{
z-index: 5;
height:18%;
width:15%;
position: absolute;
top:22%;
left:65%;
background: none;
}

#you{
z-index: 5;
height:24%;
width:17%;
position: absolute;
top:41%;
left:24%;
background: none;
}

/*============== win/ lose screen ============*/
#winScreen{
  height: 100%;
  width:103%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 17;
  display: none;
  background: linear-gradient(rgba(58,62,66,0),rgba(58,62,66,1));
}

#winLose{
  position: absolute;
  top:39%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  font-size: 140%;
  text-align: center;
  color:white;
  background: none;
}

#youScoreP{
  position: absolute;
  top:69%;
  left:33%;
  transform: translate(-50%,-50%);
  width:100%;
  font-size: 120%;
  text-align: center;
  color:white;
  background: none;
}

#rivalScoreP{
  position: absolute;
  top:69%;
  left:65%;
  transform: translate(-50%,-50%);
  width:100%;
  font-size: 120%;
  text-align: center;
  color:white;
  background: none;
}

#yourScore{
  background: none;
}

#rivalScore{
  background: none;
}

#playAgain{
  position: absolute;
  top:53%;
  left:50%;
  transform: translate(-50%,-50%);
  width:100%;
  positon
  font-size: 120%;
  text-align: center;
  color:white;
  background: none;
  cursor: pointer;
}


/*health bars and battle information  */
#yourhealth{
  height:1.1%;
  width:20.7%;
  background: grey;
  position: absolute;
  top:52.2%;
  left:56.6%;
  z-index: 15;
}

#opponentshealth{
  height:1.1%;
  width:20.75%;
  background: grey;
  position: absolute;
  top:28.3%;
  left:28.7%;
  z-index: 15;
  float:left;
  overflow-x: hidden;
}

#hitPointTotal{
  position: absolute;
  top:51%;
  left:68%;
}

.number{
  font-size: 190%;
  height:4%;
  width:5%;
  background: none;
  z-index: 15;
}

#hitPointCurrent{
  position: absolute;
  top:51%;
  left:56%;
}

#yourLevel{
  position: absolute;
  top:42.5%;
  left:68%;
}

#rivalLevel{
  position: absolute;
  top:18.5%;
  left:33%;
}

#yourName{
  position: absolute;
  top:39%;
  left:59%;
  width:0;
  padding: 0;
  z-index: 15;
}

#rivalName{
  position: absolute;
  top:15%;
  left:19%;
  width:0;
  padding: 0;
  z-index: 15;
}
.attackAnimation{
  background: none;
  position: absolute;
  top:26%;
  left:65%;
  height:12%;
  width:12%;
  z-index:20;
  display: none;
}

/*============ Battle animations ============*/

#rivalsScratchAnimation{
  left:26%;
  top:47%;
  z-index:16;
}

#sandAnimation{
  left:56%;
  top:31%;
  -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  z-index: 14;
}

#growlAnimation{
  background: none;
  position: absolute;
  top:33%;
  left:65%;
  height:12%;
  width:12%;
  z-index:14;
  display: none;
}

/*Gameboy*/

#offScreen{
  height:73.1%;
  width:70.1%;
  position: absolute;
  top:15.45%;
  left:15%;
  z-index:17;
  display: none;
}

.gb-body {
  width:102%;
  height:100%;
  padding-left: 0;
  margin-left:-12px;
  @include background(linear-gradient(0deg,#BFBAC4,darken(#BFBAC4,10%),#BFBAC4));
  border:1px solid #ccc;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
-webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.5);
border:1px solid darken(#BFBAC4,20%);
background:#bcb7c1;
}


.gb-display-border {
  width:90%;
  height:89%;
  margin: 50px auto;
  padding:10px 0px 30px 0px;
  background:#7A757E;
  -webkit-border-radius: 12px;
  -webkit-border-bottom-right-radius: 36px;
  -moz-border-radius: 12px;
  -moz-border-radius-bottomright: 36px;
  border-radius: 12px;
  border-bottom-right-radius: 36px;
-webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.5);
border:1px solid darken(#BFBAC4,20%);
}


.display-header-text-first-border {
  content: '';
  position:absolute;
  top:10%;
  left:8%;
  width:30%;
  background: #BB0965;
  height:2px;
}

.display-header-text-second-border {
  content: '';
  position:absolute;
  top:12%;
  left:8%;
  width:30%;
  background: #064780;
  height:2px;
}

.display-header-text {
    position: absolute;
    top:6%;
    left:39%;
    font-family: Arial, Helvetica, sans-serif;
    color:#BFBAC4;
    font-size: 100%;
    letter-spacing:3px;
    background: none;
    }

    .display-header-text-after-first-border {
				content: '';
				position:absolute;
				top:10%;
				right:9%;
				width:18%;
				background: #BB0965;
				height:2px;
			}

			.display-header-text-after-second-border {
				content: '';
				position:absolute;
				top:12%;
				right:9%;
				width:18%;
				background: #064780;
				height:2px;
			}
      .battery-led {
				width:15px;
				height:15px;
				position:absolute;
				top:45%;
				left:9%;
				background:#ff1c1c;
				-webkit-border-radius: 180px;
				-moz-border-radius: 180px;
				border-radius: 180px;
			}

			.battery-led-text {
        background: none;
				position:absolute;
				top:49%;
				left:7.5%;
				font-size: 12px;
				font-weight: bold;
				font-family: Arial, Helvetica, sans-serif;
			}

      h1{
        display: none;
      }

@media screen and (max-width: 1050px) {

 .screen{
    color:white;
    display:block;
    z-index:100;
    position: absolute;
    top:44%;
    left:50%;
    padding-top:5px;
    transform: translate(-50%,-50%);
  }
}

.flash {
  animation: flash 1s;
}

@keyframes flash {
  17%, 51%, 85%{
    opacity: 0;
  }

  34%, 68%, 100% {
    opacity: 1;
  }
}
